body {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
}

#pokedex {
    min-height: 50vh;
    background-color: #FC6C6D;
    color: white;
    display: flex;
    padding: 24px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    min-height: 100px;
}